@import '../node_modules/modern-normalize/modern-normalize.css';
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

input, textarea {
    border: none;
    width: 100%;
}

input:focus {
    outline: none;
}

body, html {
    min-height: 100%;
    background: var(--base-0);
}

button {
    border: none;
}

textarea:focus {
    outline: none;
}

select {
    background: inherit;
}
